*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}


.container{
    width: 100%;
    background: #0a1014;
    padding-bottom: 5rem;
}


/* Navigation start*/
.nav-bar {
    width: 100%;
    height: 222px;
    background: #00a884;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.inner-nav{
    width: 66%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.inner-nav > img {
    width: 39px;
}
.inner-nav > h1 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
/* Navigaion end */


/* Body start */
.body{
    width: 100%;
}
.inner-body {
    width: 66%;
    margin: -130px auto 0 auto;
    box-shadow: 0 17px 50px 0 rgba(11,20,26,.19), 
                0 12px 15px 0 rgba(11,20,26,.24);
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Scan section start */
.scan-section {
    width: 88%;
    padding: 4rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(171, 171, 171, 0.362);
}
.instruction > h1 {
    font-size: 28px;
    font-weight: 300;
    color: #41525d;
}
.instruction-list{
    margin-top: 3.8rem;
    margin-left: 1.6rem;
}
.instruction-list > li{
    font-size: 18px;
    color: #3b4a54;;
    margin-top: 20px;
    list-style: none;
    list-style-type: decimal;
    
}
.instruction-list > li > span {
    font-weight: 600;
}
.instruction-list > li > span > ion-icon {
    background: rgba(185, 185, 185, 0.181);
    border-radius: 3px;
    font-size: 20px;
    padding: 2px 5px;
    text-align: center;
}

.qr-code {
    background-image: url(Assets/Images/WA-demo-QR.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 266px;
    height: 266px;
}
/* scan section end */

/* mobile number start */
.mobile-number{
    width: 88%;
    height: 7rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #fff;
}
.mobile-number > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #008069;
    cursor: pointer;
}
/* mobile number end */

/* tutorial-section start */
.tutorial-section{
    width: 100%;
    padding: 2.4rem 0 2.4rem 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: rgba(220, 220, 220, 0.159);
}
.tutorial-section > h1 {
    font-size: 28px;
    font-weight: 300;
    color: #41525d;
}
.help{
    margin-top: 11px;
}
.help > a {
    color: #008069;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}


.video-section{
    width: 560px;
    height: 314px;
    border-radius: 5px;
    margin-top: 2.8rem;
}
.video-section > video {
    display: none;
}
.thumbnile {
    background-image: url(Assets/Images/qr-video-hq_c001ebd6ddb0ba5fc7de491dfb556024.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 560px;
    height: 314px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-btn {
    width: 5rem;
    height: 5rem;
    background: rgba(73, 73, 73, 0.519);
    border-radius: 100%;
    display: flex;
    justify-content: center;    
    border: none;
    cursor: pointer;
}
.play-btn > ion-icon {
    font-size: 2.7rem;
    color: #fff;
    align-self: center;
}


/* tutorial-section end */